
<!DOCTYPE html>
<html>
<head>
<title>About Cricket Wordle</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<h1>About Cricket Wordle</h1>
<p>Cricket Wordle is a word game based on the popular game Wordle. The goal of the game is to guess the name of a cricketer in 6 tries.</p>
<p>The game is played on a 6x6 grid. Each row represents a letter in the cricketer's name. The player guesses a letter and the game will tell the player if the letter is in the cricketer's name and if it is in the correct position.</p>
<p>The game is won when the player guesses the cricketer's name in 6 tries or less.</p>
<a href="/">Play Game</a>
</body>
</html>


